---
import "../../styles/global.css";
---

<div class="min-h-screen flex flex-col bg-gray-950 text-white">
    <h1>Login</h1>
    <p>Login to your account</p>
    <form>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </form>
</div>