---
import { prisma } from "../lib/prisma";
import "../styles/global.css";
import Footer from "./Footer.astro";
import Hero from "./Hero.astro";
import Navbar from "./navbar.astro";
import Tour from "../pages/Tour/Tour.astro";
---

<div class="min-h-screen flex flex-col bg-gray-950 text-white">
  <Navbar />

  
  <main class="flex-grow flex items-center justify-center px-4">
    <div class="w-full max-w-3xl text-center">
      <Hero />
    </div>
  </main>

  
  <Footer />
</div>